name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  packages: read

jobs:
  test-javascript:
    name: JavaScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.triggering_actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Test Action
        uses: ./
        with:
          dockerfile: __tests__/Dockerfile

      - name: Check how many lines changed
        run: |
          lines_changed=$(git diff --numstat | awk '{print $1}')
          if [[ $lines_changed -ne 6 ]]; then
            echo "Expected 6 lines to be changed, but found $lines_changed"
            git diff
            exit 1
          fi
          echo "Lines changed: $(git diff --numstat)"
